* {
  font-family: monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 250%;
}

nav ul {
  font-size: 160%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  float: right;
  margin: 0%;
  padding: 1%;
  min-width: 300px;
}

nav a {
  flex-wrap: wrap;
  color: #dadada;
  font-weight: bold;
  text-decoration: none;
  justify-content: space-between;
  padding: 1.75px;
}

nav a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Page content */
/* .content {
  padding: 16px;
} */

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: sticky;
  top: 0%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 100px;
}

.about {
  width: 100%;
  padding: 100px 0px;
}

.main {
  width: 1200px;
  max-width: 95%;
  margin: 0% auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about img {
  height: auto;
  width: 500px;
}

.about-text {
  width: 550px;
}

.about-text h2 {
  font-size: 45px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

h2 {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1%;
}

.work {
  background-color: #13293d;
  color: #fff;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.work-title {
  font-size: 55px;
  font-weight: bold;
  padding: 20px;
}

.card img {
  max-width: 90%;
  height: auto;
  width: 700px;
}

.horiseon-title {
  font-size: 37.5px;
  font-weight: bold;
  justify-content: center;
  padding: 10px;
}

.placeholder-title {
  font-size: 25px;
  padding: 10px;
}

.box2 img {
  max-width: 80%;
  height: auto;
  width: 350px;
}

.Contact {
  background-color: #ffffff;
  color: #13293d;
  width: 100%;
  max-width: 100%;
  padding: 100px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.Contact h6 {
  font-size: 40px;
  font-weight: bold;
  padding: 35px;
}



@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

@media screen and (max-width: 980px) {
  body {
    flex-direction: column;
  }

}
